/*Global styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}
main {
    padding: 4rem 0.5rem 0.5rem 0.5rem
}
h1 {
    padding: 0.5rem 1rem;
}
h2 {
    padding-top: 1rem;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 0.5rem;
}
#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

/* Header  & Footer*/
nav {
    overflow: hidden;
    background-color: #cceeff;
}
nav a {
    display: block;
    padding: 0.5rem 1rem;
    float: left;
    transition: all 0.3s ease;
    text-decoration: none;
    color: black;
}
nav a:hover {
    background-color: #b3e6ff;
    border-bottom: 3px solid #33bbff;
}
.activelink {
    background-color: #b3e6ff;
    border-bottom: 3px solid #33bbff;
}
.hamburger {
    float: right;
    display: none;
}
footer {
    background-color: #e6f7ff;
    min-height: 150px;
    padding: 1em 0.5em;
}

/* Trips */
.tripcard {
    position: relative;
}
.tripimage {
    width: 100%;
}
.tripdescription {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    bottom: 5px;
    color: white;
    padding: 0.5rem;
}

/* Anecdotes */


/* Media Queries */
@media (max-width: 600px) {
    nav a:not(.activelink) {
        display: none;
    }
    nav {
        position: relative;
    }
    nav.openburger a {
        display: block;
    }
    nav a.hamburger {
        display: block;
        top: 0;
        right: 0;
        position: absolute;
        padding-left: 50px;
    }
    nav a {
        float: none;
        display: block;
    }
    body {
        width: 100%;
    }
    main {
        grid-template-columns: 1fr;
        padding-top: 0;
    }
    section.span {
    grid-column-start: 1; 
    grid-column-end: 1;   
    }
}
