/*Global styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}
main {
    padding: 4rem 0.5rem 0.5rem 0.5rem
}
h1 {
    padding: 0.5rem 1rem;
}
h2 {
    padding-top: 1rem;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 0.5rem;
}
#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

/* Header  & Footer*/
.content {
    padding: 30px;
}
 
.top-nav {
    color: black;
} 
.top-nav > ul {
    margin: 0px;
    padding: 0px;
    float: left;
    list-style: none;
    width: 100%;
    background-color: #cceeff;
}

.top-nav > ul > li {
    float: left;
}
 
.nav-item {
    display: block;
    padding: 15px 20px;
    line-height: 20px;
    color: black;
    text-decoration: none;
}
 
.nav-item:hover {
    background-color: #cceeff;
}
 
.nav-item:focus {
    background-color :#cceeff;
}
 
.nav-item:focus ~ .dropdown {
    max-height: 400px;
    transition: max-height 0.4s ease-in;
}
 
.dropdown:active {
  max-height: 400px;
}
 
.dropdown:hover{
     max-height: 400px;
}
 
.dropdown {
    position: absolute;
    overflow: hidden;
    background-color: #cceeff;
    color: black;
    max-height: 0px;
}﻿
 
.dropdown a {
    color: black;
    text-decoration: none;
}
 
.dropdown a:hover {
    color: black;
}
 
.dropdown li {
    list-style: none;
}
 
.dropdown-content {
    padding: 10px;
    width: 120px;
}
 
.dropdown-content ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
 
.dropdown-content ul li a {
    display: inline-block;
    padding: 5px 0px;
    text-decoration: underline;
    color: black;
}
.hamburger {
    float: right;
    display: none;
}
footer {
    background-color: #e6f7ff;
    min-height: 150px;
    padding: 1em 0.5em;
}
.dropdown {
    background-color: rgba(50,50,50,0.5);
    position: relative;
}

.dropcontent {
    position: absolute;
}
/* Trips */
.tripcard {
    position: relative;
}
.tripimage {
    width: 100%;
}
.tripdescription {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    bottom: 5px;
    color: white;
    padding: 0.5rem;
}

/* Anecdotes */


/* Form */
input, textarea {
    width: 50%;
    display: block;
    font-size: 1rem;
    border: none;
    background-color: #EEEEEE;
    margin-bottom: 1em;
}
#text {
    width: 70%;
    min-height: 100px;
    margin-bottom: 0;
}
button#submitcontact {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #b3e6ff;
    border: none;
    margin-top: 0.5rem;
}
/* Media Queries */
@media (max-width: 600px) {
    .top-nav > ul > li:not(:first-of-type) {
        display: none;
    }
    .top-nav {
        color: black;
        position: relative;
    }
    .top-nav.openburger > ul > li {
        display: block;
        float: none;
    }
    .top-nav > ul > a.hamburger {
        display: block;
        top: 0;
        right: 0;
        position: absolute;
        padding: 13px 10px 13px 50px;
        text-decoration: none;
        float: right;
    }
    .top-nav > ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        background-color: #cceeff;
    }
     
    .nav-item {
        padding: 15px 20px;
        line-height: 20px;
        color: black;
        text-decoration: none;
    }
     
    .nav-item:hover {
        background-color: #cceeff;
    }
     
    .nav-item:focus {
        background-color :#cceeff;
    }
     
    .nav-item:focus ~ .dropdown {
        max-height: 400px;
        transition: max-height 0.4s ease-in;
    }
    body {
        width: 100%;
    }
    main {
        grid-template-columns: 1fr;
        padding-top: 0;
    }
    section.span {
        grid-column-start: 1; 
        grid-column-end: 1;   
    }
    input, textarea, #text, button#submitcontact {
        width: 100%;
    }
}
